@page "/users"
@using System.Net.Http.Json;
@using WineWeb.Shared.Models.Userss;
@inject HttpClient Http
@inject PreloadService loading
@inject ToastService toastService

<PageTitle>UsersManagement</PageTitle>

<h3> UsersManagement</h3>

<Button Type="ButtonType.Link" Color="ButtonColor.Success" Outline="true" To="/users/detail"> Add </Button>

<table class="table">
    <thead>
        <tr>
            <th>Code</th>
            <th>Full Name</th>
            <th>Username</th>
            <th>Password</th>
            <th>CreateDate</th>
            <th>UpdateDate</th>
        </tr>
    </thead>
    <tbody>
        @if (@users == null)
        {
            <tr>
                <td colspan="8" align="center">No Data Found</td>
            </tr>
        }
        else
        {
            @foreach (var user in @users)
            {
                <tr>
                    <td width="5%">@user.Code</td>
                    <td width="25%">@user.Name</td>
                    <td width="10%">@user.Username</td>
                    <td width="15%">@user.Password</td>
                    <td width="15%">@user.CreateDate?.ToShortDateString()</td>
                    <td width="10%">@user.UpdateDate?.ToShortDateString()</td>
                    <td width="10%">
                        <div>
                            <Button Type="ButtonType.Link" Color="ButtonColor.Success" Outline="true" To="@($"/users/detail/{user.Id}")" Model="@user"> Edit </Button>
                            <Button Type="ButtonType.Button" Color="ButtonColor.Danger" Outline="true" Model="@modal"
                            @onclick="async ()=>{ TargetId=user.Id;await modal.OnShowModalClick();}">
                                Delete
                            </Button>
                        </div>

                    </td>
                </tr>
            }
            <Pagination ActivePageNumber="@PageNumber"
                        TotalPages="@TotalPage"
                        PageChanged="FetchUserss" />
        }
    </tbody>
</table>
<ConfirmDelete Message="Do you comfirmed?" Url="@($"/api/users/{TargetId}")" CusFunc="User" @ref="modal" />

@code {
    private UsersModel[]? users;

    public int PageNumber { get; set; } = 1;
    public int PageSize { get; set; } = 10;
    public int TotalPage { get; set; }

    public int TargetId { get; set; }

    private ConfirmDelete modal { get; set; } = default!;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        await FetchUserss();
    }

    private async Task FetchUserss()
    {
        loading.Show(SpinnerColor.Dark);
        var url = "/api/Users";

        url = $"{url}?PageSize={PageSize}&PageNumber={PageNumber}";

        var result = await Http.GetFromJsonAsync<Response<UsersModel[]>>(url);
        users = result?.Data;

        loading.Hide();
    }

}