@page "/users/detail"
@page "/users/detail/{UserId:int}"
@using System.Net.Http.Json;
@using WineWeb.Shared.Entities;
@inject HttpClient Http
@inject ToastService toastService
@inject PreloadService loading

<h3> User Detail</h3>
<hr />

<div style="width:60%;">

    <EditForm Model="User" OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <div class="row mb-3">
            <label for="inputCode" class="col-sm-2 col-form-label">Code</label>
            <div class="col-sm-10">
                <InputText type="text" class="form-control" id="empcode" @bind-Value="@User.Code" disabled=@ReadOnlyMode />
                <ValidationMessage For="@(() => User.Code)" />
            </div>
        </div>
        <div class="row mb-3">
            <label for="inputName" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
                <InputText type="text" class="form-control" id="empname" @bind-Value="@User.Name" disabled=@ReadOnlyMode />
                <ValidationMessage For="@(() => User.Name)" />
            </div>
        </div>

        <div class="row mb-3">
            <label for="inputName" class="col-sm-2 col-form-label">Username</label>
            <div class="col-sm-10">
                <InputText type="text" class="form-control" id="empname" @bind-Value="@User.Username" disabled=@ReadOnlyMode />
                <ValidationMessage For="@(() => User.Password)" />
            </div>
        </div>

        <div class="row mb-3">
            <label for="inputName" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
                <InputText type="text" class="form-control" id="empname" @bind-Value="@User.Password" disabled=@ReadOnlyMode />
                <ValidationMessage For="@(() => User.Password)" />
            </div>
        </div>


        <div class="row mb-3">
            <label for="inputName" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <InputText type="text" class="form-control" id="empname" @bind-Value="@User.Email" disabled=@ReadOnlyMode />
                <ValidationMessage For="@(() => User.Email)" />
            </div>
        </div>

        <a class="btn btn-danger" tabindex="-1" role="button" aria-disabled="true" href="users">Back To User List</a>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        @if (ReadOnlyMode == false)
        {
            <Button @ref="btnSave" Color="ButtonColor.Success" Outline="true" Size="Size.Medium" @onclick="SubmitForm">
                <Icon Name="IconName.Activity"></Icon>
                @(UserId > 0 ? "Update" : "Save")
            </Button>
        }
    </EditForm>
</div>

@code {
    [Parameter] public int UserId { get; set; }
    public Users User { get; set; } = new();
    public bool ReadOnlyMode { get; set; } = false;

    public EventCallback OnValidSubmit { get; set; }
    private Button btnSave;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        User = await GetUser(UserId);
    }

    private async Task<Users> GetUser(int userId)
    {
        var url = $"/api/users/{userId}";

        var result = await Http.GetFromJsonAsync<Response<Users>>(url);
        return result?.Data ?? new();
    }

    private async Task<int> SubmitForm()
    {
        btnSave?.ShowLoading("Loading...");
        if (UserId > 0)
        {
            return await UpdateUser();
        }
        else
        {
            return await CreateUser();
        }

    }

    private async Task<int> UpdateUser()
    {
        btnSave?.ShowLoading("Loading...");
        var rss = -1;
        try
        {
            var response = await Http.PutAsJsonAsync($"api/users/{UserId}", User);
            var rs = await response.Content.ReadFromJsonAsync<Response<int>>();
            if (!rs.Succeeded)
            {
                foreach (var error in rs.Errors)
                {
                    toastService.Notify(new()
                        {
                            Message = $"Update User is failed: {error.Message}",
                            Type = ToastType.Danger,
                            Title = "Update User failed",
                            HelpText = $"{DateTime.Now}",
                            
                        });
                }
            }
            else
            {
                toastService.Notify(new()
                    {
                        Message = "Update User is successful",
                        Type = ToastType.Success,
                        Title = "Update User success",
                        HelpText = $"{DateTime.Now}",
                    });
                rss = rs.Data;
            }

        }
        catch (Exception ex)
        {
            toastService.Notify(new()
                {
                    Message = $"Update User is failed: Error: {ex.Message}",
                    Type = ToastType.Danger,
                    Title = "Update User failed",
                    HelpText = $"{DateTime.Now}",
                });
        }
        btnSave?.HideLoading();
        return rss;
    }

    private async Task<int> CreateUser()
    {
        btnSave?.ShowLoading("Loading...");
        var rss = -1;
        try
        {
            var response = await Http.PostAsJsonAsync("api/users", User);
            var rs = await response.Content.ReadFromJsonAsync<Response<int>>();

            if (!rs.Succeeded)
            {
                foreach (var error in rs.Errors)
                {
                    toastService.Notify(new()
                        {
                            Message = $"Create User is failed: {error.Message}",
                            Type = ToastType.Danger,
                            Title = "Create User failed",
                            HelpText = $"{DateTime.Now}",
                        });
                }
            }
            else
            {
                toastService.Notify(new()
                    {
                        Message = "Create User is successful",
                        Type = ToastType.Success,
                        Title = "Create User success",
                        HelpText = $"{DateTime.Now}",
                    });
                rss = rs.Data;
            }

        }
        catch (Exception ex)
        {
            toastService.Notify(new()
                {
                    Message = $"Create User is failed: Error: {ex.Message}",
                    Type = ToastType.Danger,
                    Title = "Create User failed",
                    HelpText = $"{DateTime.Now}",
                });
        }
        btnSave?.HideLoading();
        return rss;
    }
}